<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery-3.4.1.js"></script>
    <script>
        $(function () {
            $('#btn1').click(function () {
                $.ajax({
                    url:"getpic",
                    type:"POST",
                    dataType:"json",
                    success:function (data) {
                        $('#img1').attr("src","http://47.93.232.197/group1/M00/00/00/rBgNlF6G18aAJT7OAABcTdol0Zk688.png");
                    }
                })
            })
        })
    </script>
</head>
<body>
<input type="button" id="btn1" value="获取图片"/>
<img src="http://47.93.232.197/group1/M00/00/00/rBgNlF6G18aAJT7OAABcTdol0Zk688.png" alt="默认图片" id="img1">
</body>
</html>